In [3]:
#!/usr/bin/python3

In [97]:
# to use 
# do <pip install Faker> in your activated dev env

In [46]:
from faker import Faker
import random_address
import pandas as pd 
import datetime

In [47]:

first_names = []
last_names = []
jobs = []
credit_scores = []
address = []
year1 = []
year2 = []
year3 = []
dob = []
ssn = []
current_debt = []

faker = Faker()

for i in range(30):
    first_names.append(faker.first_name())
    last_names.append(faker.last_name())
    jobs.append((faker.job()))
    credit_scores.append(faker.random_int(585, 790))
    address.append(faker.address())
    year1.append(faker.random_int(98000, 220000))
    year2.append(faker.random_int(120000, 370000))
    year3.append(faker.random_int(135000, 450000))
    ssn.append(str(faker.random_int(135, 654)) + '-' + str(faker.random_int(23, 88)) + '-' + str(faker.random_int(2234, 7856)))
    current_debt.append(faker.random_int(4500, 62000))

In [87]:
# create an empty dob list 
dob = []

start_date = datetime.date(year=1974, month=1, day=1)

for i in range(20):
    # fake.date_between(start_date='today', end_date='+30y')
    dob.append(str(faker.date_between(start_date=start_date, end_date='-32y')))
    
for i in range(10):
    dob.append(str(faker.date_between(start_date=start_date, end_date='-42y')))
for i in range(10):
    dob.append(str(faker.date_between(start_date=start_date, end_date='-45y')))

In [88]:
dob

['1988-05-06',
 '1990-06-24',
 '1976-12-21',
 '1976-03-07',
 '1990-07-21',
 '1979-08-17',
 '1983-01-09',
 '1975-01-14',
 '1983-10-15',
 '1986-12-15',
 '1974-04-24',
 '1981-10-28',
 '1985-05-19',
 '1989-02-01',
 '1976-06-10',
 '1983-11-03',
 '1977-08-29',
 '1974-11-08',
 '1980-12-23',
 '1982-04-05',
 '1974-10-17',
 '1977-10-20',
 '1974-07-30',
 '1974-03-23',
 '1979-10-19',
 '1976-05-28',
 '1978-10-23',
 '1979-01-13',
 '1977-08-05',
 '1977-03-24',
 '1977-01-11',
 '1975-02-08',
 '1975-02-09',
 '1976-07-11',
 '1975-02-19',
 '1974-04-13',
 '1975-08-19',
 '1975-02-18',
 '1977-04-09',
 '1977-05-27']

In [89]:

df = pd.DataFrame(list(zip(first_names, last_names, jobs, credit_scores, address, year1, year2, year3, dob, ssn, current_debt)),
               columns =['first_name', 'last_names', 'jobs', 'credit_scores', 'address', 'year1', 'year2', 'year3', \
                        'dob', 'ssn', 'current_debt'])

In [ ]:
# convert the dob column to datetime object 
df['dob'] = pd.to_datetime(df['dob'])

# subtract 2022 from the year(dob) to get the age of the customer
df['age'] =  df['dob'].apply(lambda x: 2022 - int(x.year))

In [91]:
df.dtypes

first_name       object
last_names       object
jobs             object
credit_scores     int64
address          object
year1             int64
year2             int64
year3             int64
dob              object
ssn              object
current_debt      int64
dtype: object

In [98]:
df.to_csv('customer_data.csv', index=False)

datetime.date(1993, 5, 21)